PORT=

# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=


# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://www.mongodb.com/cloud/atlas and setup your cluster and get connection string.
MONGO_DB_CONNECTION_STRING=

CALLBACK_URL=https://{host and port}/pipeline/notifications/
SUBDOMAIN=

SPINNAKER=
SPINNAKER_ACCESS_TOKEN=
