<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Plotly.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="../components/chart/LineChart.js"></script>
    <script src="../components/chart/Chart.js"></script>
    <style>
        .body {
            margin: 0;
        }
        .js-plotly-plot {
            height: 100%;
        }
        #chart-containers {
            height: 100vh;
        }
    </style>
</head>

<body class="body">


<div id="chart-containers"><!-- Plotly chart will be drawn inside this DIV --></div>

<script>

    createCharts("chart-containers");

</script>
</body>